

/* Custom page header */
.header {
  position: fixed;
  top:0;
  height: 57px;
  border-bottom: 1px solid #e5e5e5;
  background-color: purple;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

  &.navbar-default {
    background-color: #202020!important;
  }

  .leftToggleMenu {
    .title {
      color: #ffffff;
      cursor: pointer;
      font-family: 'Roboto';
    }
    .ic-menu {
      width: 90px;
      height: 35px;
      padding-top: 7px;
    }
    .ic-menu:hover {
      background-color: #545454;
    }

    .icon-bar {
      color: white;
    }
  }

  .logo {
    color: white;
  }

  .top {
    padding-top: 13px;
  }

  .snapshot {
    margin-right: 40px;
  }

  .btnIconWithLabel {
    text-align: center;
    height: 30px;
    width: 53px;
    background-color: #333333;
    color: white;
    p {
      position: relative;
      top: 2px;
      font-size: 10px;
      color: #999999;
    }
    .snapshot {
      right: 7px;
    }
    &.btn-default {
      border-color: black;
    }
    &.btn {
      border: 0px;
    }
  }
  .btnIconWithLabel:hover {
    background-color: #545454;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
