

/* Custom page header */
.header {
  height: 70px;
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

  &.navbar-default {
    background-color: #202020!important;
  }

  .middleMenu {
    .title {
      color: #787878;
    }

    .icon-bar {
      color: white;
    }
  }

  .top {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .btnIconWithLabel {
    text-align: center;
    height: 30px;
    width: 60px;
    background-color: #363636;
    color: white;
    div {
      position: relative;
      top: 5px;
      color: #7d7d7d;
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
