$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


@import "bower_components/font-awesome/scss/font-awesome.scss";

@import "header.scss";
@import "nodeDetails.scss";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #202020;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

}

p {
  max-width: 700px;
}

$sidebarBGColor: #1A1A1A;
$sidebarBGDarkColor: #121212;
$networkBGColor: #333333;
$white: #fcfcfc;
.mainContainer {
  $height: 750px;
  $sidebarColor: #949494;

  padding-top: 50px;
  background-color: $networkBGColor;
  .col-md-2.sideBar {
    background-color: $sidebarBGColor;
    height: $height;
    .listItem {
      color: $sidebarColor;
      padding: 10px 15px;
      cursor: pointer;
      &.listParent {
        background-color: $sidebarBGDarkColor;
        padding-left: 0;
        .head {
          padding-left: 10px;
          padding-bottom: 6px;
        }
      }
      .list-group {
        background-color: $sidebarBGColor;
        padding-left: 10px;
        margin-bottom: 0;
      }
      .list-group-item {
        background-color: inherit;
        border: 0;
        padding-left: 0;
      }
      .glyphicon {
        &.hideEye:after {
          content: '/';
          position: absolute;
          font-size: 25px;
          font-weight: bolder;
          line-height: 0px;
          left: 3px;
          top: 3px;
        }
      }
    }

    /* The starting CSS styles for the enter animation */
    .list-group.ng-enter {
      transition: 0.5s linear all;
      opacity: 0;
    }

    /* The finishing CSS styles for the enter animation */
    .list-group.ng-enter.ng-enter-active {
      opacity: 1;
    }

    .circle {
      position: relative;
      top: 2px;
      display: inline-block;
      border-radius: 50%;
      width: 14px;
      height: 14px;
      &.green {
        background-color: #099665;
      }
      &.purple {
        background-color: #cc02c5;
      }
      &.blue {
        background-color: #036b94;
      }
      &.lightBlue {
        background-color: #50cccc;
      }
      &.red {
        background-color: #f5474a;
      }
      &.yellow {
        background-color: #fac800;
      }
    }
    .titleAndColor{
      display:inline;
    }
  }
  #visJsDiv {
    width: 100%;
    height: $height;
  }

}

div.vis-network {
  div.vis-navigation {
    position: absolute;
    bottom: 15px;
    height: 100px;
    width: 37px;
    right: 5px;
    background-image: url(../buttons.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 100000;
    .vis-button.vis-up, .vis-button.vis-down, .vis-button.vis-right, .vis-button.vis-left {
      display: none;
    }
    div.vis-button.vis-zoomOut, div.vis-button.vis-zoomIn, div.vis-button.vis-zoomExtends {
      position: absolute;
      width: 25px;
      height: 25px;
      background-image: none !important;
      border-radius: 2px;
      right: 5px !important;
      &:hover {
        box-shadow: none;
      }
    }
    div.vis-button.vis-zoomExtends {
      bottom: 34px !important;
    }
    div.vis-button.vis-zoomOut {
      bottom: 3px !important;
    }
    div.vis-button.vis-zoomIn {
      bottom: 65px !important;
    }
  }
}

.tabsBar {
  background-color: $sidebarBGColor;
  border-right: 2px solid $networkBGColor;
  .view {
    display: block;
    width: 190px;
    height: 30px;
    float: left;
    padding: 2px 0 0 10px;
    color: $white;
    position :relative;
    background-color: $sidebarBGDarkColor;
    cursor: pointer;
    &.active{
      background-color: $networkBGColor;
    }
    .glyphicon {
      position :absolute;
      top: 6px;
      right: 16px;
    }
    input {
      border: 0px;
      background: black;
      color: white;
      padding: 4px;
    }
  }
  .glyphicon-plus {
    float: left;
    padding: 2px 4px 2px 8px;
    font-size: 22px;
    color: $white;
  }
}
.accordion-panel {

  .accordion-heading {
    background-color: black;
    padding-right: 10px;
    padding-left: 10px;
  }

  .sub-accordion-heading {
    padding-right: 10px;
    padding-left: 10px;
  }

  .accordion-content {
    padding-left: 25px;
    padding-right: 25px;
    background-color: #1a1a1a;
    text-align: justify;
  }
}

.alertIcon {
  color: #f9ca0a;
}
