.nodeDetails {
  width: 259px;
  min-height: 700px;
  overflow: auto;
  color: #808080;
  background-color: black;
  left: -1000px;
  position: absolute;
  z-index: 99999;
  top: 88px;
  .contentRow {
    background-color: #1a1a1a;
  }
  .toolsCtrl {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .headerDetails {
    padding: 10px 5px 10px 15px;
    height: 80px;
    background-color: #fb4748;
    color: #fdd7cc;
  }

  .thresholdTime {
    background-color: black;
    padding-left: 5px;
  }

  .arrow-accordion {
    font-size: 10px;
    margin-right: 5px;
    margin-left: 5px;
  }
}
