<?xml version="1.0" encoding="utf-8"?>
<Configuration monitorInterval="30">
    <Properties>
        <Property name="LOGPATH">./logs</Property>
    </Properties>

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <ROOT level="OFF">
            <AppenderRef ref="CONSOLE"/>
        </ROOT>
    </Loggers>
</Configuration>