<div class="row itemsRow" ng-click="footer.hideSideMenu()">
  <div class="col-md-12 text-center itemsCol">
    <div class="items">
      <ul class="list-inline">
        <li ng-repeat-start="item in footer.footerList">
          <img ng-click="footer.filterNode(item)" ng-style="item.style" ng-src="images/{{item.imageName}}"
               width="{{item.imageWidth}}" height="{{item.imageHeight}}" alt=""/>
          <div class="displayName">
            {{item.displayName}}
            <span class="numberCircle" ng-if="item.selectedModels.length">
              {{item.selectedModels.length}}
            </span>
          </div>
          <ul class="list-group  selectedList" click-outside="item.showList = false;" ng-show="item.showList">
            <li class="list-group-item" ng-repeat="selectedModel in item.selectedModels">{{selectedModel.Name}}</li>
          </ul>
        </li>
        <li ng-repeat-end="" class="arrow">
          <nav class="menu">
            <input type="checkbox" href="#" class="menu-open" name="{{'menu-open' + $index}}" id="{{'menu-open' + $index}}"/>
            <label class="menu-open-button" for="{{'menu-open' + $index}}">
              <span class="hamburger hamburger-1"></span>
              <span class="hamburger hamburger-2"></span>
              <span class="hamburger hamburger-3"></span>
            </label>

            <a href="#" class="menu-item"> <i class="fa fa-bar-chart"></i> </a>
            <a href="#" class="menu-item"> <i class="fa fa-plus"></i> </a>
            <a href="#" class="menu-item"> <i class="fa fa-heart"></i> </a>
            <a href="#" class="menu-item"> <i class="fa fa-envelope"></i> </a>
            <a href="#" class="menu-item"> <i class="fa fa-cog"></i> </a>

          </nav>

        </li>
      </ul>
    </div>
  </div>
</div>


<!-- filters -->
<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
  <defs>
    <filter id="shadowed-goo">
      <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 1  1 1 1 1 1  1 1 1 18 -7" result="goo" />
      <feGaussianBlur in="goo" stdDeviation="3" result="shadow" />
      <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2" result="shadow" />
      <feOffset in="shadow" dx="1" dy="1" result="shadow" />
      <feBlend in2="shadow" in="goo" result="goo" />
      <feBlend in2="goo" in="SourceGraphic" result="mix" />
    </filter>
  </defs>
</svg>
