<div class="topHeader" ng-click="header.hideSideMenu()">
  <div class="row headerBar">
    <div class="col-sm-2 col-xs-2 col-md-2">
      <img class="logo" id="imgLogo" src="./images/logo.svg" width="168"
           height="47" alt="" data-mu-svgfallback="./images/logo.png">
      <div class="version">beta v0.1</div>
      <div ng-show="header.showFilter" class="filtersearch">
        <table class="filterTable">
          <tr>
            <td>
              <div>
                <i class="glyphicon glyphicon-search"
                   ng-click="header.isSearchBoxShown = true" ng-show="header.isSearchBoxShown == false"
                   aria-hidden="true"></i>
                <div class="search-container2" ng-show="header.isSearchBoxShown == true">
                  <div>
                    <div>
                      <div id="imaginary_container">
                        <div class="input-group stylish-input-group">
                          <input type="text" ng-model="header.selectedSearch"
                                 typeahead-popup-template-url="searchPopupTemplate.html"
                                 uib-typeahead="item as item.Name for item in header.selectedViewData | filter: {Name: $viewValue}"
                                 typeahead-on-select="header.onSearchSelectChange($item, $model, $label, $event)"
                                 class="form-control" placeholder="Search" ng-change="header.filterNodes()">
                          <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td ng-show="false">
              <span>
                <i class="glyphicon glyphicon-filter" ng-show="header.isFilterShown == false"
                   ng-click="header.isFilterShown = true" aria-hidden="true"></i>
              </span>
              <div ng-show="header.isFilterShown == true" class="filter">
                <table class="table">
                  <tr>
                    <td>
                      <i class="glyphicon glyphicon-filter" ng-click="header.isFilterShown = false" aria-hidden="true"></i>
                    </td>
                    <td>
                      Model Types
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <div ng-repeat="item in header.filterList">
                        <div class="checkbox">
                          <label>
                            <img ng-src="images/{{item.imageName}}" width="{{item.imageWidth}}"
                                 height="{{item.imageHeight}}" alt=""/>
                            {{item.displayName}}
                            <input type="checkbox" ng-model="item.checked" ng-checked="item.checked"
                                   ng-click="header.filterChecked($event)" id="{{item.name}}"><label
                            for="{{item.name}}"></label>
                          </label>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-sm-4 col-xs-4 col-md-4">
      <form id="search-container">
        <input type="search" ng-model="header.selectedSearch"
               typeahead-popup-template-url="searchPopupTemplate.html"
               uib-typeahead="item as item.Name for item in header.selectedViewData | filter: {Name: $viewValue}"
               typeahead-on-select="header.onSearchSelectChange($item, $model, $label, $event)"
               class="form-control" placeholder="Search" ng-change="header.filterNodes()">
      </form>
    </div>
    <div class="col-sm-6 col-xs-6 col-md-6">
      <div class="row">
        <div class="col-md-12 rightSection">
          <ul class="list-inline rightItems">
            <li ng-show="header.showStatus">
              <div class="checkbox">
                <input type="checkbox" ng-click="header.toggleShowStatus()" ng-checked="header.getShowStatus()"
                       id="chkShowStatus">
                <label for="chkShowStatus">Show status</label>
              </div>
            </li>
            <li ng-show="false">
              <span class="version">{{header.currentDate | date:'medium'}}</span>
            </li>
            <li>
              <div class="view">VIEW</div>
            </li>
            <li>
              <div class="dropdown">
                <div class="dropdown-toggle" data-toggle="dropdown" role="button"
                     aria-haspopup="true" aria-expanded="false">
                  <span>{{header.selectedView}} <span class="caret"></span></span>
                </div>
                <ul class="dropdown-menu">
                  <li ng-repeat-start="view in header.listViews">
                    <a ng-click="header.setView(view)" href="javascript:void(0)">{{view[view.MainQuery_parameters.ViewName]}}</a>
                  </li>
                  <li ng-repeat-end="" role="separator" class="separator"></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="searchPopupTemplate.html">
  <div class="custom-popup-wrapper"
       ng-style="{top: position().top+'px', left: position().left+'px'}"
       style="display: block;"
       ng-show="isOpen() && !moveInProgress"
       aria-hidden="{{!isOpen()}}">
    <p class="message">select from drop down.</p>

    <ul class="dropdown-menu" role="listbox">
      <li class="uib-typeahead-match" ng-repeat="match in matches track by $index"
          ng-class="{active: isActive($index) }"
          ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
        <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
      </li>
    </ul>
  </div>
</script>
