<div class="modelHeader" ng-style="{'background-color': modelDetails.headerColor}">
  <div class="content">
    <div class="row">
      <div class="col-xs-10">
        <img class="imgHeader" id="u6424" src="images/{{modelDetails.imageName}}" height="{{modelDetails.imageHeight}}" width="{{modelDetails.imageWidth}}" alt="">
        <span>{{modelDetails.headerName}}</span>
      </div>
      <div class="col-xs-2">
        <div class="corner" ng-style="{'background-color': modelDetails.headerColor}">
          <img class="arrow" ng-click="modelDetails.closeSideMenu()" id="arrow" src="./images/arrow.svg" width="23" height="27" alt=""
               data-mu-svgfallback="images/artwork%204_poster_.png">
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-show="modelDetails.isError" class="error">
  <h3>An error occurred, please refresh the network.</h3>
</div>
<div class="details">
  <div ng-repeat="item in modelDetails.modelInfo" class="form-group">
    <span class="title" for="{{item.key}}">{{item.key}}:<span class="detailText" id="{{item.key}}">{{item.value}}</span></span>
  </div>
  <div class="form-group">
    <span class="title" for="Group">Group:<span class="detailText ng-binding" id="Group"></span></span>
  </div>
</div>
