<nav class="header navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 top">
        <span>FLARE</span>
      </div>
      <div class="col-md-4 top middleMenu">
        <span class="title">MENU <i class="glyphicon glyphicon-menu-hamburger icon-bar"></i></span>
      </div>
      <div class="col-md-4 top text-right">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-filter"></i></button>
          <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-question-sign"></i></button>
          <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-tags"></i></button>
        </div>
      </div>
    </div>
  </div>
</nav>
