<nav class="header navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 top leftToggleMenu">
        <div class="ic-menu text-center">
          <span class="title">MENU <i class="glyphicon glyphicon-menu-hamburger icon-bar"></i></span>
        </div>
      </div>
      <div class="col-md-4 top text-center">
       <img src="images/logo.svg" width="72" />
      </div>
      <div class="col-md-4 top text-right">
        <div class="btn-group snapshot" role="group" aria-label="...">
          <button type="button" class="btn btn-default btnIconWithLabel">
            <i class="fa fa-camera" aria-hidden="true"></i>
            <p class="snapshot">Snapshot</p>
          </button>
        </div>
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default btnIconWithLabel" ng-click="toggleSideBar()">
            <i class="fa fa-filter" aria-hidden="true"></i>
            <p>Filter</p>
          </button>
          <button type="button" class="btn btn-default btnIconWithLabel">
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            <p>Query</p>
          </button>
          <button type="button" class="btn btn-default btnIconWithLabel">
            <i class="fa fa-tag" aria-hidden="true"></i>
            <p>Tag</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
