.pageFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding-bottom: 40px;
  padding-top: 40px;
  color: white;
  z-index: 99999;
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0.1));

  .itemsRow {
    //overflow: auto;
  }

  .itemsCol {
    min-width: 820px;
  }

  .items {

  }

  .list-inline > li > img {
    margin-left: 10px;
    margin-right: 5px;
  }
  .list-inline > li {
    position: relative;
    &.arrow {
      width: 30px;
      text-align: left;
      margin-left: -8px;
      cursor: pointer;
    }
    .displayName {
      margin-top:-7px;
    }
  }
  .numberCircle{
    position: absolute;
    top:0;
    right: 0px;
    width: 20px;
    height: 20px;
    display:block;
    border-radius: 10px;
    background-color: red;
  }
  .selectedList{
    position: fixed;
    bottom: 30px;
    .list-group-item{
      color: black;
    }
  }
}




//vars
$fg:#ffc107;
$bg:#009688;
$pi:-3.14;
//config
$ball-size:25px;
$menu-height: 300px;
$menu-items:5;
$open-distance:35px;
$opening-angle:$pi - .2;

%goo{
  filter:url('#shadowed-goo');
  // debug
  //background:rgba(255,0,0,0.2);
}
%ball{
  background:$fg;
  border-radius:100%;
  width:$ball-size;
  height:$ball-size;
  position:absolute;
  top:$menu-height - 50px;
  color:white;
  text-align:center;
  line-height:10px;
  transform:translate3d(0,0,0);
  transition:transform ease-out 200ms;
}
.menu-open{
  display:none;
}
.menu-item{
  @extend %ball;
}
.hamburger{
  $width:$ball-size / 2;
  $height:3px;
  width:$width;
  height:$height;
  background:white;
  display:block;
  position:absolute;
  top:$ball-size/2 - 2px;
  left: $ball-size/4;
  transition:transform 200ms;
}
$hamburger-spacing:6px;
.hamburger-1{
  transform:translate3d(0,-$hamburger-spacing,0);
}
.hamburger-2{
  transform:translate3d(0,0,0);
}
.hamburger-3{
  transform:translate3d(0,$hamburger-spacing,0);
}
.menu-open:checked+.menu-open-button{
  .hamburger-1{
    transform:translate3d(0,0,0) rotate(45deg);
  }
  .hamburger-2{
    transform:translate3d(0,0,0) scale(0.1,1);
  }
  .hamburger-3{
    transform:translate3d(0,0,0) rotate(-45deg);
  }
}
.menu{
  @extend %goo;
  position:absolute;
  left:0%;
  top:-$menu-height + 10px ;
  padding-top:0;
  width:$ball-size * 2;
  padding-left: $ball-size/2 ;
  height:$menu-height;
  box-sizing:border-box;
  font-size:20px;
  text-align:left;
}


.menu-item{
  &:hover{
    background:white;
    color:$fg;
  }
  @for $i from 1 through $menu-items{
    &:nth-child(#{$i+2}){
      transition-duration:10ms+(60ms*($i));
    }
  }
}

.menu-open-button{
  @extend %ball;
  z-index:2;
  transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-duration:400ms;
  transform:scale(1.1,1.1) translate3d(0,0,0);
  cursor:pointer;
}
.menu-open-button:hover{
  transform:scale(1.2,1.2) translate3d(0,0,0);
}
.menu-open:checked+.menu-open-button{
  transition-timing-function:linear;
  transition-duration:200ms;
  transform:scale(0.8,0.8) translate3d(0,0,0);
}

.menu-open:checked~.menu-item{
  transition-timing-function:cubic-bezier(0.935, 0.000, 0.340, 1.330);
  @for $i from 1 through $menu-items{
    $angle:(($pi - $opening-angle)/2)+(($opening-angle/($menu-items - 1))*($i - 1));

    &:nth-child(#{$i+2}){
      transition-duration:80ms+(80ms*$i);
      transform:translate3d(0,-$i*$open-distance,0);
    }
  }
}
