@import url("theme.css");
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Regular.ttf");
}
h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, legend,a, a.icon {
    font-family: "Open Sans", Arial, "sans-serif";
}
table.ld-wrap-fixed-table{
    width:100%;
    table-layout: fixed;
}
table.ld-wrap-fixed-table td, table.ld-wrap-fixed-table th{
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
}
h1{
    color:#00d49c;
}
h5
{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: .7em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
    color: #666666 !important;
}
h6
{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: .6em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
    color: #666666 !important;
}

p
{
    font-family: Glegoo, Arial, sans-serif;
}

a:link, a:visited {
    color: #1e73be;
    text-decoration: underline;
}

a:link:active, a:visited:active {
    color: #1e73be;
}

.wy-side-nav-search{
    background-color: #00b1c0;
}

.caption-text{
    color: #f0f0f0;
    text-transform: none;
    font-size: 18px;
}
.wy-menu a.reference.internal {
    color: #f0f0f0;
    text-decoration: none;
}
.wy-menu.wy-menu-vertical ul {
    margin-bottom: 15px;
}

.wy-menu-vertical li.current>a span.toctree-expand,
.wy-menu-vertical li.current>a:hover span.toctree-expand,
.wy-menu-vertical ul.current li.toctree-l1.current a.current span.toctree-expand,
.wy-menu-vertical ul.current li.toctree-l1.current a:hover.current span.toctree-expand{
    color: white;
}
.wy-menu-vertical ul.current li.toctree-l1 a.current span.toctree-expand
{
    color:#333030;
}
.wy-menu-vertical ul.current li.toctree-l1 a.current:hover span.toctree-expand{
    color:#4d4949;
}

.wy-menu-vertical li>a:hover span.toctree-expand,
.wy-menu-vertical li span.toctree-expand{
    color: #4d4949;
}
.wy-menu-vertical li.toctree-l2.current span.toctree-expand,
.wy-menu-vertical li.toctree-l2.current a:hover span.toctree-expand,
.wy-menu-vertical ul.current li.toctree-l2.current a.current span.toctree-expand,
.wy-menu-vertical li.toctree-l2 a:hover span.toctree-expand{
    color: #c7c7c7;
}
.wy-menu-vertical ul.current li.toctree-l2 a.current span.toctree-expand{
    color: #d4d4d4;
}

.wy-menu-vertical li.current>a span.toctree-expand,
.wy-menu-vertical li.current>a:hover span.toctree-expand,
.wy-menu-vertical ul.current li.toctree-l1.current a.current span.toctree-expand,
.wy-menu-vertical ul.current li.toctree-l1.current a:hover.current span.toctree-expand,
.wy-menu-vertical ul.current li.toctree-l1 a.current span.toctree-expand,
.wy-menu-vertical ul.current li.toctree-l1 a.current:hover span.toctree-expand,
.wy-menu-vertical li>a:hover span.toctree-expand,
.wy-menu-vertical li span.toctree-expand,
.wy-menu-vertical li.toctree-l2.current span.toctree-expand,
.wy-menu-vertical li.toctree-l2.current a:hover span.toctree-expand,
.wy-menu-vertical ul.current li.toctree-l2.current a.current span.toctree-expand,
.wy-menu-vertical li.toctree-l2 a:hover span.toctree-expand,
.wy-menu-vertical ul.current li.toctree-l2 a.current span.toctree-expand
{
    position: absolute;
    width:100%;
    height: 100%;
}
.wy-menu-vertical a {
    padding: 0.4045em 1.45em;
}
.wy-menu ul.current .toctree-l1.current .reference.internal{
    color:black;
    padding: 0.4045em 1.45em;
}
.wy-menu ul.current .toctree-l1.current .toctree-l2 .reference.internal{
    color: #666666;
}
.wy-menu ul.current .toctree-l1.current .toctree-l2.current .reference.internal{
    color: black;
}
.wy-menu ul.current .toctree-l1.current .toctree-l2.current .toctree-l3 .reference.internal{
    color: #666666;
    padding: 0.4045em 2.5em;
}
div[itemprop=articleBody] .section h1:first-of-type{
    display: none;
}
#ld-top-icons a{
    margin-right:15px;
}
#ld-top-icons {
    margin-top: -15px;
    margin-bottom: 11px;
}
.ld-nodecoration, a:link.ld-nodecoration {
    text-decoration: none;
}

.section .caption-text {
    display:none;
}