<div class="row mainContainer">
  <div ng-class="{'col-md-10':main.showSideBar,'col-md-12':!main.showSideBar}">
    <vis></vis>
  </div>
  <div class="col-md-2 sideBar" ng-if="main.showSideBar">
    <div class="row">
      <div class="col-md-12 listItem" ng-click="main.toggleShowList('Labels')">
        Labels <span class="glyphicon glyphicon-eye-open" aria-hidden="true" ng-class="{'hideEye':!main.showList['Labels']}"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 listItem listParent">
        <div class="head">
          <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Entities (160)
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 listItem listParent">
        <div class="head" ng-click="main.toggleShowList('Coloring by Cluster')">
          <span class="glyphicon "
                ng-class="{'glyphicon-menu-right': !main.showList['Coloring by Cluster'], 'glyphicon-menu-down': main.showList['Coloring by Cluster']}"
                aria-hidden="true"></span> Coloring by Cluster
        </div>
        <ul class="list-group" ng-if="main.showList['Coloring by Cluster']">
          <li class="list-group-item" ng-click="main.toggleShowList('Applications')" >
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true" ></span> <span class="circle red"></span>
            Applications (45) <span
            class="glyphicon glyphicon-eye-open" aria-hidden="true"  ng-class="{'hideEye':!main.showList['Applications']}"></span></li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> <span
            class="circle green"></span> Logs (60) <span
            class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> <span class="circle blue"></span>
            People (30) <span
            class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> <span
            class="circle lightBlue"></span> Countries (5) <span
            class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> <span
            class="circle purple"></span> Organizations (15) <span
            class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> <span
            class="circle yellow"></span> Alerts (5) <span
            class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 listItem listParent">
        <div class="head" ng-click="main.toggleShowList('Relationships')">
          <span class="glyphicon "
                ng-class="{'glyphicon-menu-right': !main.showList['Relationships'], 'glyphicon-menu-down': main.showList['Relationships']}"
                aria-hidden="true"></span> Relationships (800)
        </div>
        <ul class="list-group" ng-if="main.showList['Relationships']">
          <li class="list-group-item">
            Accesses (100) <span
            class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
          <li class="list-group-item">
            Logs (100) <span
            class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
          <li class="list-group-item">
            Saves (100) <span
            class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
          <li class="list-group-item">
            Downloads (100) <span
            class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
          <li class="list-group-item">
            Opens (100) <span
            class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
          <li class="list-group-item">
            Triggers (100) <span
            class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
          <li class="list-group-item">
            Sends (100) <span
            class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
          <li class="list-group-item">
            Notifies (100) <span
            class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 listItem listParent">
        <div class="head">
          <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Groups (0) <span
          class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        </div>
      </div>
    </div>
  </div>
</div>
